.contacts
  padding-bottom: 60px
  &-wrap
    display: flex
    justify-content: space-between
    align-items: center
  &-form
    flex: 0 0 40%
  &-map
    padding: 10px
    flex: 0 0 70%
    border: 1px solid rgba(#f2ab7f, 0.3)
.form-input
  display: flex
  flex-direction: column
  textarea 
    width: 100%
    padding: 15px
    margin-bottom: 30px
    color: black
    background-color: transparent
    border: 1px solid transparent
    border-bottom: 1px solid #f2ab7f
    &:focus
      border-bottom: 1px solid rgba(#1d1b1b, 0.8)
.form__inputs
  width: 100%
  padding: 15px
  margin-bottom: 30px
  color: black
  background-color: transparent
  border: 1px solid transparent
  border-bottom: 1px solid #f2ab7f
  transition: 0.4s
  &:focus
    border-bottom: 1px solid rgba(#1d1b1b, 0.8)
    
