.container
  max-width: 1002px
  margin: 0 auto
.section-title
  padding: 0
  margin: 0
  margin-bottom: 55px
  position: relative
  padding-top: 16px
  padding-bottom: 47px
  color: #ffffff
  background-color: #262628
  text-align: center
  font-family: 'GFS Didot', serif
  font-size: 36px
  font-style: italic
  font-weight: 300
  line-height: 39.42px
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 1px
    background-color: #976e56
    left: 0
    bottom: 28px
  &::before
    content: ''
    position: absolute
    width: 59px
    height: 3px
    background-color: #f2ab7f
    left: 50%
    bottom: 25px
    transition: 1s
  &:hover
    &::before
      left: 30%
    
.button
  position: relative
  overflow: hidden
  padding: 15px 85px
  background-color: transparent
  border: 1px solid #f2ab7f
  cursor: pointer
  font-size: 17px
  color: black
  font-weight: 700
  transition: 0.4s
  z-index: 199
  &:hover
    text-shadow: 1px 0 5px rgba(#fff, 1)
    background-color: rgba(#f2ab7f, 0.7)

/* the slides */
.slick-slide 
	margin: 0 27px
	outline: none
		
/* the parent */
.slick-list 
	margin: 0 -27px
		
.slick-dots
   li 
     button
      margin-top: 20px
      margin-right: 20px
      width: 16px
      height: 16px
      background-color: #fff
      border: 1px solid #f2ab7f
      transform: rotate(45deg)
.slick-dots 
  li 
    button
     &:before 
      content: ''
      position: absolute
      top: 0
      left: 0
      top: 50%
      margin-top: -4px
      left: 50%
      margin-left: -4px
      width: 8px
      height: 8px
      background-color: #f2ab7f
      

.slick-active
  opacity: 1

.link__top
  position: fixed
  bottom: 40px
  left: 50px
  padding: 10px
  color: black
  font-weight: 700
  border: 1px solid black
  background-color: rgba(#fff, 0.6)
  transition: 0.5s
  opacity: 1
  z-index: 0
.popUpLink
  padding: 10px
  position: fixed
  left: 10px
  top: 40px
  background-color: rgba(#fff, 0.6)
  color: black
  font-weight: 900
  z-index: 999